<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container">
    <h1>Welcome to Our Landing Page</h1>
    <p>This is a basic landing page created with Ruby on Rails.</p>
  </div>
</body>
</html>